[Unit]
Description=Zoom Video SDK Client for Claw Machine
Documentation=
After=network-online.target
BindsTo=dev-video0.device
After=dev-video0.device

[Service]
Environment=
Type=simple
User=zoomda
ExecStartPre=/bin/sleep 15
ExecStart=/home/zoomda/GitHub/zoom_v-sdk_linux_bot/bin/video_sdk_session_recorder
Restart=on-failure

[Install]
WantedBy=multi-user.target
